* {
    margin: 0;
    user-select: none !important;
}

body {
    width: 100vw;
    height: 100%;
}

/* ------------------------------------------------------------------------------- A N I M A T I O N S */
/* flash animation for user count update / artist name in tutorial screen / enter button on enter screen */
@keyframes flash {
    from {filter: invert(100%)}
    to {filter: invert(0%)}
}

/* animation for the heart svg */
@keyframes heartWobble {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(10deg)}
    50% {transform: rotate(0deg)}
    75% {transform: rotate(-10deg)}
    100% {transform: rotate(0deg)}
}


/* ------------------------------------------------------------------------------- G R A D I E N T  B A C K G R O U N D */
#background {
    position: fixed;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -100;
}

#background div {
    height: 100%;
    width: 100%;
    background: linear-gradient(darkslategrey, blue, deeppink, peachpuff);
}

/* ------------------------------------------------------------------------------- H E A R T  C A N V A S */
#heartCanvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}


/* ------------------------------------------------------------------------------- H E A R T  S V G  W R A P */
#heart-wrap {
    position: fixed;
    height: 145px;
    width: 160px;
    bottom: 60px;
    right: 60px;
    z-index: 100;
    pointer-events: auto;
    animation: heartWobble 4s linear infinite;
    transition: opacity 0.8s;
}


/* ------------------------------------------------------------------------------- T R A N S I T I O N  S C R E E N */
#transition-wrap {
    position: fixed;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    z-index: 103;
}

/* the div with the countodwn numbers */
#transition-counter {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300px;
    color: rgb(38, 223, 241);
    font-style: italic;
    font-family: Arial;
    font-weight: 200;
}


/* ------------------------------------------------------------------------------- T U T O R I A L  S C R E E N S */
#tutorial-overlay {
    position: fixed;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 102;
}

/* classname for ALL tutorial screens */
.tutorial {
    height: 100%;
    width: 100vw;
    pointer-events: auto;
}

/* flash used on artist name */
.flash2 {
    animation: flash 0.1s linear 8;
}


/* ----------------------------------------------------- tabitha TUTORIAL */
#position-5 {
    pointer-events: auto;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: rgb(38, 223, 241);
    flex-direction: column;
    letter-spacing: 6px;
    font-style: italic;
    font-size: 43px;
    font-family: Arial;
    font-weight: 200;
}

#tabithaName {
    position: relative;
    top: -300px;
    font-size: 80px;
    transition: left 1.3s;
    pointer-events: none;
}

#tabithaInstruction1 {
    position: relative;
    top: 50px;
    transition: left 1.3s;
    pointer-events: none;
    text-align: center;
}

#tabithaInstruction2 {
    position: relative;
    top: 150px;
    transition: left 1.3s;
    text-align: center;
    pointer-events: none;
}

#position-5 .tutorialX {
    position: relative;
    top: 250px;
    pointer-events: none;
}


/* ------------------------------------------------------------------------------- T A B I T H A */
#tabitha {
    position: fixed;
    height: 100%;
    width: 50%;
    perspective: 800px;
}

.environment-cube {
    position: relative;
    height: 5300px;
    width: 2000px;
    margin-top: -670%;
    transform-style: preserve-3d;
    transform-origin: 50% 50% 1000px;
    transform: translateZ(1000px);
}

.face {
    position: absolute;
    height: 5300px;
    width: 2000px;
}

#environment-front {
    transform: translateZ(2414px);
}

#environment-front-left {
    transform: translateX(-1707px) translateZ(1707px) rotateY(315deg);
}

#environment-left {
    transform: translateX(-2414px) rotateY(270deg);
}

#environment-back-left {
    transform: translateX(-1707px) translateZ(-1707px) rotateY(225deg);
}

#environment-back {
    transform: translateZ(-2414px) rotateY(180deg);
}

#environment-back-right {
    transform: translateX(1707px) translateZ(-1707px) rotateY(-225deg);
}


#environment-right {
    transform: translateX(2414px) rotateY(-270deg);
}

#environment-front-right {
    transform: translateX(1707px) translateZ(1707px) rotateY(-315deg);
}

#tabitha video {
    width: 100% !important;
}
